/*
List of action for table CRUD for instance.
*/

ul.action-list {
  list-style:   none;
  padding-left: 0;
}

ul.action-list li {
  float:        left;
  margin-right: 10px;
}

ul.action-list li:last-child {
  margin-right: 0;
}
