{% extends 'YrdifBlogBundle::layout.html.twig' %}

{% block title %}About{% endblock %}

{% block body %}
    <div class="page-header">
        <h1>About SymBlog</h1>
    </div>

    <article>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus, architecto assumenda, cum eaque eligendi
           ex exercitationem expedita in iste nulla officia pariatur perferendis provident, quae quia saepe sit suscipit
           tempora.</p>

        <p>Assumenda culpa cum dolor dolorum, itaque labore magnam numquam rerum tempora vitae? Ab aliquid autem
           distinctio dolorum est odio placeat provident, recusandae repellendus vitae! Ducimus maxime nobis quam vel
           voluptate!</p>

        <p>Atque, beatae dignissimos dolore dolores, eaque exercitationem facere hic illo laborum libero molestias nemo
           optio quas quasi reiciendis saepe sequi, unde voluptate! Corporis doloremque incidunt nemo possimus provident
           ratione temporibus.</p>

        <p>At atque, delectus enim minus nostrum nulla officiis quae quaerat ratione. Accusamus aut hic minima molestiae
           nesciunt, officia repellendus ullam velit veritatis vero! Architecto aspernatur quae qui quo recusandae
           reprehenderit.</p>

        <p>Asperiores aspernatur autem dolor earum excepturi inventore neque optio qui quibusdam totam? Ea, impedit in
           inventore ipsam laboriosam neque quae quaerat quasi repellendus saepe sapiente suscipit, tempora tempore
           temporibus vel?</p>
    </article>
{% endblock %}
